.lay{
    position: absolute;
    top: 75px;
    // left:200px;
    // width:calc(100% - 200px);
    width: 87%;
    right:0px;
    bottom:0px;
}
.layout{
    height:100%;
}
.header{
    background: #fff;
    padding: 0;
    text-align: center;
}
.divcontent{
   
}
.content{
    padding: 24px;
    min-height:500px;
    background-color: rgb(255,255,255);
}
.footer{
    text-align: center;
}
// .center{
//     position: absolute;
//     left: 200px;
//     right: 0px;
//     top: 75px;
//     bottom: 0px;
//     background-image: url("../../assets/pictures/sea.jpg");
// }