{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": ["airbnb-base"],
  "rules": {
    "react/jsx-uses-react": 1,
    "linebreak-style": [0, "windows"],
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "no-unused-vars": 0,
    "no-undef": 0,
    "no-unused-expressions": 0,
    "no-return-assign": 0,
    "semi": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "globals": {
    "window": true
  }
}



