.head_nav{
    height: 75px;
    min-width: 600px;
    margin-right: 75px;
    background: #409EFF;
}
.logo{
    background-image: url("../../assets/pictures/bg.jpg");
    height:75px;
    width: 75px;
    border-radius: 50%;
    margin-left: 60px;
    margin-right: 40%;
    background-size: 180%;
    display: inline-block;
}
.title{
    vertical-align: 150%;
}
.logout{
    height: 75px;
    line-height: 75px;
    float:right;
    display: inline-block;
}
.avatar{
    height:75px;
    width: 75px;
    background: #409EFF;
    background-image: url("../../assets/pictures/boy.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    float: right;
    // background-color: #f40;
}
a{
    // color:#f40 !important;
}
// a:hover{
//     color:#f40 !important;
// }
